@font-face {
  font-family: "galano_grotesqueregular";
  src: url("../fonts/GalanoGrotesque-Regular-webfont.woff") format("woff"), url("../fonts/GalanoGrotesque-Regular-webfont.otf") format("opentype"), url("../fonts/GalanoGrotesque-Regular-webfont.eot") format("embedded-opentype"); }
@font-face {
  font-family: "galano_grotesquesemibold";
  src: url("../fonts/GalanoGrotesque-SemiBold-webfont.woff") format("woff"), url("../fonts/GalanoGrotesque-SemiBold-webfont.otf") format("opentype"), url("../fonts/GalanoGrotesque-SemiBold-webfont.eot") format("embedded-opentype"); }
@font-face {
  font-family: "futura_meduim";
  src: url("../fonts/futura medium bt.ttf"); }
* {
  box-sizing: border-box; }

html body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

html body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: galano_grotesqueregular; }
  html body header {
    padding-top: 50px; }
    html body header nav {
      width: 100%;
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1234; }
      html body header nav .frame {
        width: 90%;
        margin: auto; }
      @media screen and (min-width: 992px) {
        html body header nav {
          padding-top: 0px; } }
    html body header .mobile-nav {
      height: 50px;
      padding: 10px 0; }
      html body header .mobile-nav .frame {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 100%;
        align-items: center; }
        html body header .mobile-nav .frame .logo {
          height: 100%; }
          html body header .mobile-nav .frame .logo img {
            height: 100%; }
      @media screen and (min-width: 992px) {
        html body header .mobile-nav {
          display: none; } }
    html body header .desktop-nav {
      display: none;
      height: 70px;
      font-size: 14px; }
      html body header .desktop-nav .frame {
        max-width: 1015px;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center; }
        html body header .desktop-nav .frame .logo {
          position: absolute;
          top: 5px;
          left: 50%;
          transform: translateX(-50%); }
        html body header .desktop-nav .frame .nav-left, html body header .desktop-nav .frame .nav-right {
          width: calc(50% - 110px); }
          html body header .desktop-nav .frame .nav-left ul, html body header .desktop-nav .frame .nav-right ul {
            display: flex;
            justify-content: space-between; }
            html body header .desktop-nav .frame .nav-left ul li, html body header .desktop-nav .frame .nav-right ul li {
              padding: 5px;
              text-align: center; }
              html body header .desktop-nav .frame .nav-left ul li a, html body header .desktop-nav .frame .nav-right ul li a {
                color: black; }
                html body header .desktop-nav .frame .nav-left ul li a:hover, html body header .desktop-nav .frame .nav-right ul li a:hover {
                  color: #2ca88c; }
      @media screen and (min-width: 992px) {
        html body header .desktop-nav {
          display: block; } }
    @media screen and (min-width: 992px) {
      html body header {
        padding-top: 70px; } }

html body .banner {
  position: relative; }
  html body .banner .mobile-banner {
    width: 100%; }
    @media screen and (min-width: 768px) {
      html body .banner .mobile-banner {
        display: none; } }
  html body .banner .desktop-banner {
    width: 100%;
    display: none;
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      html body .banner .desktop-banner {
        display: block; } }
  html body .banner p.slogan {
    font-size: 18px;
    color: #39358c;
    font-family: "galano_grotesquesemibold";
    width: 90%;
    margin: auto;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      html body .banner p.slogan {
        width: auto;
        position: absolute;
        font-size: 1.9vw;
        left: 14vw;
        top: 50vw;
        line-height: 2em; } }
@media screen and (min-width: 768px) and (min-width: 1200px) and (min-width: 1500px) {
  html body .banner p.slogan {
    font-size: 25px;
    left: 23vw;
    top: 47vw; } }

html body .mobile-program .frame {
  width: 90%;
  margin: auto;
  text-align: center; }
  html body .mobile-program .frame .seperator {
    display: block;
    margin: auto;
    width: 40px;
    margin-top: 20px; }
  html body .mobile-program .frame .title {
    font-family: "galano_grotesquesemibold";
    color: #90684b;
    font-size: 36px;
    margin: 36px 0;
    margin: 0; }
  html body .mobile-program .frame .video-wrap {
    margin-top: 20px; }
  html body .mobile-program .frame .button {
    background-color: #39358c;
    color: white;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px; }
@media screen and (min-width: 992px) {
  html body .mobile-program {
    display: none; } }
html body .program {
  display: none;
  text-align: center; }
  html body .program .seperator {
    width: 67px;
    display: block;
    margin: auto; }
  html body .program .title {
    font-family: "galano_grotesquesemibold";
    color: #90684b;
    font-size: 36px;
    margin: 36px 0; }
  html body .program .video-wrap {
    width: 578px;
    height: 325px;
    margin: auto;
    position: relative; }
    html body .program .video-wrap .deco-right {
      position: absolute;
      right: -8vw;
      top: 0;
      border: 1px solid #2ca88c;
      background-image: url(../image/deco_program.png);
      background-size: contain;
      background-repeat-x: repeat;
      width: 8vw;
      height: 100%; }
    html body .program .video-wrap .deco-lb {
      width: 128px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateX(-100%);
      z-index: 1; }
    html body .program .video-wrap .deco-left {
      height: 311px;
      border: 1px solid #2ca88c;
      width: calc(50vw - 289px - 128px);
      position: absolute;
      left: -128px;
      transform: translateX(-100%);
      background-image: url(../image/deco_program.png);
      background-size: contain;
      background-repeat-x: repeat;
      top: -90px;
      z-index: 0; }
    html body .program .video-wrap .button {
      background-color: #39358c;
      color: white;
      width: 185px;
      display: block;
      margin: auto;
      height: 50px;
      line-height: 50px;
      font-size: 24px;
      margin-top: 30px;
      margin-bottom: 55px;
      transition: all 0.2s ease; }
      html body .program .video-wrap .button:hover {
        transform: scale(1.05); }
  @media screen and (min-width: 992px) {
    html body .program {
      display: block; } }
html body .ticket .frame {
  width: 90%;
  margin: auto; }
  html body .ticket .frame .seperator {
    width: 67px;
    display: block;
    margin: auto;
    width: 40px;
    margin-top: 20px; }
  html body .ticket .frame .content-wrap .title {
    font-family: "galano_grotesquesemibold";
    color: #90684b;
    font-size: 36px;
    margin: 36px 0;
    text-align: center;
    margin: 0; }

/*# sourceMappingURL=style.css.map */
