@charset "UTF-8";
@font-face {
  font-family: "galano_grotesqueregular";
  src: url("../fonts/GalanoGrotesque-Regular-webfont.woff") format("woff"), url("../fonts/GalanoGrotesque-Regular-webfont.otf") format("opentype"), url("../fonts/GalanoGrotesque-Regular-webfont.eot") format("embedded-opentype");
}
@font-face {
  font-family: "galano_grotesquesemibold";
  src: url("../fonts/GalanoGrotesque-SemiBold-webfont.woff") format("woff"), url("../fonts/GalanoGrotesque-SemiBold-webfont.otf") format("opentype"), url("../fonts/GalanoGrotesque-SemiBold-webfont.eot") format("embedded-opentype");
}
@font-face {
  font-family: "futura_meduim";
  src: url("../fonts/futura medium bt.ttf");
}
$galano: 'galano_grotesqueregular';
$galano-semibold: 'galano_grotesquesemibold';
$theme-green: #2ca88c;
$theme-blue: #39358c;
$theme-brown: #90684b;

@mixin seperator{
	width: 67px;
	display: block;
	margin: auto;
}
@mixin homepage-title{
	font-family: $galano-semibold;
	color: $theme-brown;
	font-size: 36px;
	margin: 36px 0;
}
*{
	box-sizing: border-box;
}

html body{
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html{
	body{
		text-rendering: optimizeLegibility;
    	-webkit-font-smoothing: antialiased;
    	font-family: galano_grotesqueregular;
		header{
			padding-top: 50px;
			nav{
				width: 100%;
				background-color: white;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 1234;
				.frame{
					width: 90%;
					margin: auto;
				}
				@media screen and (min-width: 992px) {
					padding-top: 0px;
				}
			}
			.mobile-nav{
				height: 50px;
				padding: 10px 0;
				.frame{
					display: flex;
					justify-content: space-between;
					position: relative;
					height: 100%;
					align-items: center;
					.logo{
						height: 100%;
						img{
							height: 100%;
						}
					}
				}
				@media screen and (min-width: 992px) {
					display: none;
				}
			}
			.desktop-nav{
				display: none;
				height: 70px;
				font-size: 14px;
				.frame{
					max-width: 1015px;
					display: flex;
					justify-content: space-between;
					height: 100%;
					align-items: center;
					.logo{
						position: absolute;
						top: 5px;
						left: 50%;
						transform: translateX(-50%);
					}
					.nav-left, .nav-right{
						width: calc(50% - 110px);
						ul{
							display: flex;
							justify-content: space-between;
							li{
								padding: 5px;
								text-align: center;
								a{
									color: black;
									&:hover{
										color: $theme-green;
									}
								}
							}
						}		
					}
				}
				@media screen and (min-width: 992px) {
					display: block;
				}
			}
			@media screen and (min-width: 992px){
				padding-top: 70px;
			}
		}//header
	}
}

html{
	body{
		.banner{
			position: relative;
			.mobile-banner{
				width: 100%;
				@media screen and (min-width: 768px) {
					display: none;
				}
			}
			.desktop-banner{
				width: 100%;
				display: none;
				margin-top: 20px;
				@media screen and (min-width: 768px){
					display: block;
				}
			}
			p.slogan{
				font-size: 18px;
				color: $theme-blue;
				font-family: $galano-semibold;
				width: 90%;
				margin: auto;
				margin-top: 10px;
				@media screen and (min-width: 768px){
					width: auto;
					position: absolute;
					font-size: 1.9vw;
					left: 14vw;
					top: 50vw;
					line-height: 2em;
					@media screen and (min-width: 1200px) {
					
						@media screen and (min-width: 1500px){
							font-size: 25px;
							left: 23vw;
							top: 47vw;
						}
					}
				}
			}
		}//banner
		.mobile-program{
			.frame{
				width: 90%;
				margin: auto;
				text-align: center;
				.seperator{
					display: block;
					margin: auto;
					width: 40px;
					margin-top: 20px;
				}
				.title{
					@include homepage-title;
					margin: 0;
				}
				.video-wrap{
					margin-top: 20px;
				}
				.button{
					background-color: $theme-blue;
					color: white;
					display: inline-block;
					margin-top: 10px;
					padding: 10px 20px;
				}
			}
			@media screen and (min-width: 992px){
				display: none;
			}
		}//mobile-program
		.program{
			display: none;
			text-align: center;
			.seperator{
				@include seperator;
			}
			.title{
				font-family: $galano-semibold;
				color: $theme-brown;
				font-size: 36px;
				margin: 36px 0;
			}
			.video-wrap{
				width: 578px;
				height: 325px;
				margin: auto;
				position: relative;
				.deco-right{
					position: absolute;
					right: -8vw;
					top: 0;
					border: 1px solid $theme-green;
					background-image: url(../image/deco_program.png);
					background-size: contain;
					background-repeat-x: repeat;
					width: 8vw;
					height: 100%;
				}
				.deco-lb{
					width: 128px;
					position: absolute;
					left: 0;
					bottom: 0;
					transform: translateX(-100%);
					z-index: 1;
				}
				.deco-left{
					height: 311px;
					border: 1px solid $theme-green;
					width: calc(50vw - 289px - 128px);
					position: absolute;
					left: -128px;
					transform: translateX(-100%);
					background-image: url(../image/deco_program.png);
					background-size: contain;
					background-repeat-x: repeat;
					top: -90px;
					z-index: 0;
				}
				.button{
					background-color: $theme-blue;
					color: white;
					width: 185px;
					display: block;
					margin: auto;
					height: 50px;
					line-height: 50px;
					font-size: 24px;
					margin-top: 30px;
					margin-bottom: 55px;
					transition: all 0.2s ease;
					&:hover{
						transform: scale(1.05);
					}
				}
			}
			@media screen and (min-width: 992px){
				display: block;
			}
		}//program
		.ticket{
			.frame{
				width: 90%;
				margin: auto;
				.seperator{
					@include seperator;
					width: 40px;
					margin-top: 20px;
				}
				.content-wrap{
					.title{
						@include homepage-title;
						text-align: center;
						margin: 0;
					}
				}	
			}
		}
	}
}